:host {
  padding: 1rem;
  .app-home__title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .app-home__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
