:host {
    .app-card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 25rem;
        height: 10rem;
    }
    
    .app-card__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

}